        /* https://fa5.dashgame.com/# */

/* 公共区域 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,li {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

/* app布局部分 */
.col-pc-12 {
    width: 1320px;
    /* background: #ccc; */
    margin: 0 auto;
}

.col-pc-12 ul {
    overflow: hidden;
}

.col-pc-12 ul li {
    width: 260px;
    height: 180px;
    border-radius: 10px;
    text-align: center;
    padding: 5px 10px 0 10px;
    margin-bottom: 5px;
    float: left;
    color: #fff;
    font-family: serif;
}

.col-pc-12 ul li:hover{
    -webkit-filter:contrast(180%);
    filter:contrast(180%)
}

.col-pc-12 ul li:not(:nth-child(5n)) {
    margin-right: 5px;
}

.col-pc-12 ul li .image {
    color: #fff;
    font-size: 50px;
}


.col-pc-12 ul li h3 {
    font-size: 25px;
    font-weight: 900;
}

.col-pc-12 ul li p {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 30px;
    line-height: 15px;
    margin: 2px 10px 5px 10px;
}


.col-pc-12 ul li .btnBox a {
    display: inline-block;
    width: 26px;
    color: #fff;
}

.col-pc-12 ul li .btnBox a.no {
    color: #ddd;
    pointer-events: none;
    position: relative;
}

.col-pc-12 ul li .btnBox a.no::before{
    /* content: "✖️"; */
    content: "✕";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    cursor: not-allowed;
}

.col-pc-12 ul li .btnBox a.no i {
    cursor: not-allowed;
}
 /* 说明部分 */
 .content>p {
    color: #000;
    /* background: red; */
    font-family: serif;
    border-left: 5px solid #000;
    padding-left: 10px;
    margin: 10px 0;
    background: #ccc;
    height: 40px;
    line-height: 40px;
}

.content>p span {
    margin-left: 10px;
}

/* 底部 */
footer {position: fixed;bottom: 0;left: 0;background: #444444;display: block;width: 100%;height: 50px;line-height: 50px;text-align: center;color: #fff;}
footer a {color: #fff;}
/* 浏览统计 */
#cnzz_stat_icon_1279211617{width: 0;height: 0;overflow: hidden;opacity: 0;}